target/
command-line.txt
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
jreleaser.json
test-output/
/doc
out/
*.iml
*.log
.classpath
-project
/.resourceCache
/.project
/.idea
.settings/
